<ul class="details" style="width:100%">
    <li><a href="{{ url_for('posts',  slug=post.slug) }}">
        {% with total=post.comments.all()|length %}
            {{ total }} comment{% if total != 1 %}s{% endif %}
        {% endwith %}</a>
    </li>

    {% if page_mark == "detail" and post.author.id == g.user.id %}
        <li id="edit-button">Edit</li>
    {% endif %}

    {% if post.author.id == g.user.id and page_mark == "detail" %}
{#        <li id="delete-button"><a href="{{ url_for('posts', '/detail/',post_id = post.id) }}">Delete</a></li>#}
        <li id="delete-button">Delete</li>
    {% endif %}

    {% if g.user.is_authenticated() and page_mark == "detail" %}
        <li>
            {% if post.has_voted(g.user.id) %}
              <a onclick="voteClick({{ post.id|tojson|safe }});" data-voted="true" style="color:#eb6864;" href="javascript:void(0)" class="{{ post.id }}><i class="fa fa-smile-o fa-lg"></i></a>
            {% else %}
              <a onclick="voteClick({{ post.id|tojson|safe }});" data-voted="false" style="color:#000;" href="javascript:void(0)" class="{{ post.id }}"><i class="fa fa-meh-o fa-lg"></i></a>
            {% endif %}
        </li>
        <li class="listing-votes-number">{{ post.votes }} like{% if post.votes != 1 %}s{% endif %}</li>
    {% endif %}
</ul>



