<div id="comments">
    <h2>Comments</h2>
    <form id="comment-form" class="form-horizontal" action="{{ url_for('forms', page_mark='detail', post_id=post.id) }}" method="post"
          enctype="multipart/form-data" name="comment">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="comment">Add your comment!:</label>
            {{ form.comment(class="form-control", placeholder="Comments..") }}
            {% for error in form.comment.errors %}
                <span class="help-inline" style="color:red">[{{ error }}]</span><br>
            {% endfor %}
            <span id="error_comment" class="help-inline" style="color:red"></span>
            <button class="btn btn-info" id="login-form-submit" type="submit">Send</button>
        </div>
    </form>
    {% for comment in post.comments %}
        {% include 'assets/posts/comment.html' %}
    {% endfor %}
</div>