<div class="well">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li>&nbsp;&nbsp;&nbsp;</li>
        <li class="active"><a href="{{ url_for('login') }}" data-toggle="tab">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Create Account</a></li>
    </ul>

    <div class="tab-content">
        <div class="row">
            <div class="span5 login-btns">
                <h3>1-Click-Login</h3>
                <ul>
                    <li><a href="{{ url_for('login', get_provider='facebook') }}" class="btn btn-warning"><i class="fa fa-facebook fa-lg"></i>&nbsp; Facebook Login</a></li>
                    <li><a href="{{ url_for('login', get_provider='twitter') }}" class="btn btn-primary"><i class="fa fa-twitter fa-lg"></i>&nbsp; Twitter Login</a></li>
                    <li><a href="{{ url_for('login', get_provider='google') }}" class="btn btn-info"><i class="fa fa-google-plus fa-lg"></i>&nbsp; Google Login</a></li>
                </ul>
{#                <div class="form-group">#}
{#                    <label for="rememember-me-auto" style="font-weight: normal;">Keep me logged in</label>#}
{#                    <input type="checkbox" class="" id="remember-me-auto" value="1" title="checkbox">#}
{#                </div>#}
            </div>
            <div class="span5 login-btns">
                <h3>Email Login</h3>
                <form action="{{ url_for('login') }}" id="login-form" method="post" accept-charset="utf-8">
                {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="email">Email</label>
                        {{ form.email(class="form-control", placeholder="Email") }}
                        {% for error in form.email.errors %}
                            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                        {% endfor %}
                        <span id="error_email" class="help-inline" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password(class="form-control", placeholder="Password") }}
                        {% for error in form.password.errors %}
                            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                        {% endfor %}
                        <span id="error_password" class="help-inline" style="color:red"></span>
                    </div>
{#                    <div class="form-group">#}
{#                        <label style="font-weight: normal;">Keep me logged in</label>#}
{#                        <input type="checkbox" class="" id="remember-me-manual" value="1" title="checkbox">#}
{#                    </div>#}
                    <button class="btn btn-info" id="login-form-submit" type="submit">Login</button>
                </form>
{#                <a href="/password-recovery" id="forgot-your-password" style="font-weight: normal">Forgot your Password?</a>#}
            </div>
        </div>
    </div>
</div>