<form id="poem-form" class="form-horizontal" action="{{ url_for('posts', page_mark='portfolio') }}" method="post" enctype="multipart/form-data" name="post">
    {{ form.csrf_token }}
    <div class="control-group{% if form.header.errors %} error{% endif %}">
        <label class="control-label">Title</label><br>
        {{ form.header(class="form-control") }}
        <span id="error_header" class="help-inline"></span><br>
    </div>
    <div class="control-group{% if form.body.errors %} error{% endif %}">
        <label class="control-label">Poem</label>
        {{ form.body(class="form-control", id="show-form") }}
        <div id="editable" class="hide"></div>
        <span id="error_post" class="help-inline"></span><br>
    </div>
    <noscript>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Save Changes">
            </div>
        </div>
    </noscript>
</form>

<script>
    document.getElementById("editable").className = "show";
    document.getElementById("show-form").className = "hide";
    $('#editable').wysihtml5({
    toolbar: {
        "style": true,
        "font-styles": true,
        "emphasis": true,
        "lists": true,
        "html": false,
        "link": false,
        "image": false,
        "color": false,
        fa: true,
        ellipsis: false,
        strikethrough: true
    }
    });
</script>