        <form id="profile-form" class="form-horizontal" action="{{ url_for('members', nickname=g.user.nickname) }}" method="post" enctype="multipart/form-data" name="edit">
            {{ form.csrf_token }}
            <div class="control-group{% if form.nickname.errors %} error{% endif %}">
                <label class="control-label" for="nickname">Your nickname:</label>
                <div class="controls">
                    {{ form.nickname(class="form-control") }}
                    {% for error in form.nickname.errors %}
                        <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                    {% endfor %}
                    <span id="error_nickname" class="help-inline" style="color:red"></span><br>
                </div>
            </div>
            <div class="control-group{% if form.about_me.errors %} error{% endif %}">
                <label class="control-label" for="about_me">About yourself:</label>
                <div class="controls">
                    {{ form.about_me(rows=4, class="form-control") }}
                    {% for error in form.about_me.errors %}
                        <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                    {% endfor %}
                    <span id="error_about_me" class="help-inline" style="color:red"></span><br>
                </div>
            </div>
            <div class="control-group{% if form.profile_photo.errors %} error{% endif %}">
                <label class="control-label" for="profile_photo">Select a photo</label>
                <div class="controls">
                    {{ form.profile_photo(class="btn") }}
                    {% for error in form.profile_photo.errors %}
                        <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                    {% endfor %}
                    <span id="error_profile_photo" class="help-inline" style="color:red"></span><br>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes">
                </div>
            </div>
        </form>