<div class="well">
    <ul class="nav nav-tabs">
        <li>&nbsp;&nbsp;&nbsp;</li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li class="active"><a href="{{ url_for('signup') }}" data-toggle="tab">Create Account?</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="create-account" style="padding-top: 20px;">
                <form action="{{ url_for('signup') }}" id="signup-form" method="post" accept-charset="utf-8">
                {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        {{ form.firstname(class="form-control", placeholder="First Name") }}
                        {% for error in form.firstname.errors %}
                            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                        {% endfor %}
                        <span id="error_firstname" class="help-inline" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        {{ form.lastname(class="form-control", placeholder="Last Name") }}
                        {% for error in form.lastname.errors %}
                            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                        {% endfor %}
                        <span id="error_lastname" class="help-inline" style="color:red"></span>
                    </div>
                    <div class="control-group{% if form.email.errors %} error{% endif %}">
                        <label for="email">Email</label>
                        {{ form.email(class="form-control", placeholder="Email") }}
                        {% for error in form.email.errors %}
                            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                        {% endfor %}
                        <span id="error_email" class="help-inline" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password(class="form-control", placeholder="Password") }}
                        {% for error in form.password.errors %}
                            <span class="help-inline" style="color:red">[{{ error }}]</span><br>
                        {% endfor %}
                        <span id="error_password" class="help-inline" style="color:red"></span>
                    </div>
{#                    <div class="form-group">#}
{#                        <label style="font-weight: normal;">Keep me logged in</label>#}
{#                        <input type="checkbox" class="" id="remember-me" value="1">#}
{#                    </div>#}
                    <button id="target" type="submit" class="btn btn-primary">Signup</button>
                </form>
        </div>
    </div>
</div>