html,
body {
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  font-family: source-sans-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content{
  margin-top: 5px;
}

.timestamp{
  color: red;
}

/*.vis-labelset {*/
  /*background: lavender;*/
/*}*/


.mailitem{
  background:oldlace;
}

.mailwrapper {
    padding: 5px 0 5px 5px;
}

.vis-item {
  max-width:220px;
}

.vis-item .vis-item-content {
    white-space: normal;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    text-overflow: ellipsis;
}

.mail-snippet {
    text-overflow: ellipsis;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: #B0E0E6;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}

.topcoat-grid {
    padding: 0 30px;
}

.topcoat-grid__row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.topcoat-grid__column--auto {
  border: 1px solid #a9a9a9;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow: hidden;
  min-width: 25%;
}

.hidden {
  display:none;
}

#login a {
    border-radius: 5px;
    color: white;
    background: blue;
    font-size: larger;
    padding: 10px 20px;
}

#login a:active {
    background: darkblue;
}

#login p {
    word-wrap: break-word;
}

.testing{
    padding:20px;
}

.testing div{
    padding:4px;
    color:blue;
    font-size:20px
}

.button {
  text-align: center;
  border-radius: 20px;
  height:20px;
  border: 1px 
  solid #777;
  background-color: #ddd;
  width:98%;
  float:left;
  font-size:16px;
  margin-top:7px;
}

#mail-list{
  margin:5px 0 0 3px;

}

a{
  text-decoration:none;
  color:#4183C4;
}

.icon{
  background-repeat: no-repeat;
}

.bookmark{
  background-image: url('../icons/star.png');
}

.nobookmark{
  background-image: url('../icons/nostar.png');
}

.labels{
  border:1px solid white;
  padding:2px;
  margin:0px 9px 0px 9px;
  background-color:green;
  color:white;
  font-size:11px;
  font-weight:normal;
  text-align:center;
}

#summary{
  margin-left: 5px;
}

#summary ul
{
margin-bottom: 5px;
padding: 0;
list-style:none;
}

#summary ul li { 
  display: inline;
  padding-right:10px;
}

select, button{
  border:1px solid #ddd;
  background-color:#fafafa;
  padding:3px;
}
input{
  border:1px solid #ddd;
  padding:3px;
}
