<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PieMail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--         <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1,
        minimum-scale=1, width=device-width, height=device-height" /> -->
        <meta name="format-detection" content="telephone=no" />
<!--         <link href="css/topcoat-mobile-light.min.css" rel="stylesheet" > -->
        <link href="css/grid.min.css" rel="stylesheet" >
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <!-- <script type="text/javascript" src="cordova.js"></script>-->
        <script type="text/javascript" src="libs/jquery-1.11.1.js"></script>
        <script src="libs/phonegapi.js"></script>
        <script src="libs/json2.js"></script>
        <script src="libs/underscore-1.1.6.js"></script>
        <script src="libs/backbone.js"></script>
        <script src="libs/backbone.localStorage.js"></script>
        <script src="auth.js"></script>
        <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.js"></script>
<!--        <script src="inbox-data.js"></script>-->
<!--        <script src="inbox-test.js"></script>-->
    </head>
    <body>




    <div class="testing">
            <button id="authorize-button" class="hidden">Authorize</button>
            <span id="logs"></span>
            <pre id="output"></pre>
    </div>
    <div id="mailapp" class="hidden">
        <div id="summary">
            <ul id="sidemenu"></ul>
            <span>
                <select id="labeler">
                    <option value=""> Apply Label </option>
                    <option value="Personal"> Personal </option>
                    <option value="Work"> Work </option>
                    <option value="High Priority"> High Priority </option>
                    <option value="Low Priority"> Low Priority </option>
                </select>
            </span>
            <span> <button id="markallread">Mark all as Read</button></span>
            <span> <button id="archive">Archive</button></span>
            <span> <button id="gridview">Timeline View</button></span>
        </div>
        <div class="content">
            <span><input type="text" id="search" placeholder="Search" class="button"/></span>
            <div id="mails" style="float:left;">
                <div class="topcoat-grid__row" id="mail-list"></div>
            </div>
        </div>
    </div>
    <!-- Templates -->
    <script type="text/template" id="summary-tmpl">
        <li>
           <a href="#" id="inbox">
             <% if (inbox > 0 ) { %> <strong> Inbox (<%= inbox %>) </strong> <% } else { %> Inbox <% } %>
           </a>
        </li>
        <li>
           <a href="#" id="starred">
             <% if (starred > 0 ) { %> <strong> Starred (<%= starred %>) </strong> <% } else { %> Starred <% } %>
           </a>
        </li>
        <li><a href="#" id="allmail">All Mail</a></li>
    </script>

    <script type="text/template" id="mail-item">
        <div class="mail topcoat-grid__row">
          <a href="#">
            <% if (read == false) { %> <strong>  <% } %>
            <div class="mail topcoat-grid__column--12">
                <div class="mail topcoat-grid__row">
                    <div><input class="check topcoat-grid__column--1" type="checkbox" <%= selected? "checked='checked'":"" %> / > </div>
                    <div <% if( star == true ) { %> class="star icon bookmark topcoat-grid__column--2" <% } else { %> class="star icon nobookmark topcoat-grid__column--1" <% } %> > &nbsp; </div>
                    <div class="sender topcoat-grid__column--10"><%= sender %></div>
                </div>
                <div class="timestamp"> <%= formattedDate %></div>
                <div class="mail-subject"><%= subject %></div>
                <div class="mail-snippet"><%= snippet %></div>
                <div class="mail-body"><%= body %></div>
                <% if (label != '') { %>
                    <div class="labels"> <%= label %></div>
                <% } %>
            </div>
            <% if (read == false) { %> </strong>  <% } %>
          </a>
        </div>
    </script>
    <script>
        var groups = new vis.DataSet([
            {id: 0, content: 'First', value: 1},
            {id: 1, content: 'Third', value: 3},
            {id: 2, content: 'Second', value: 2}
        ]);

        // create a dataset with items
        // note that months are zero-based in the JavaScript Date object, so month 3 is April
        var items = new vis.DataSet([
            {id: 0, group: 0, content: 'item 0', start: new Date(2014, 3, 17), end: new Date(2014, 3, 21)},
            {id: 1, group: 0, content: 'item 1', start: new Date(2014, 3, 19), end: new Date(2014, 3, 20)},
            {id: 2, group: 1, content: 'item 2', start: new Date(2014, 3, 16), end: new Date(2014, 3, 24)},
            {id: 3, group: 1, content: 'item 3', start: new Date(2014, 3, 23), end: new Date(2014, 3, 24)},
            {id: 4, group: 1, content: 'item 4', start: new Date(2014, 3, 22), end: new Date(2014, 3, 26)},
            {id: 5, group: 2, content: 'item 5', start: new Date(2014, 3, 24), end: new Date(2014, 3, 27)}
        ]);

        // create visualization
        var container = document.getElementById('visualization');
        var options = {
        // option groupOrder can be a property name or a sort function
        // the sort function must compare two groups and return a value
        //     > 0 when a > b
        //     < 0 when a < b
        //       0 when a == b
{#        groupOrder: function (a, b) {#}
{#          return a.value - b.value;#}
{#        },#}
        editable: true
        };

        var timeline = new vis.Timeline(container);
        timeline.setOptions(options);
        timeline.setGroups(groups);
        timeline.setItems(items);

    </script>
    <script src="inbox.js"></script>
    </body>
</html>
