<!--<div class="mail topcoat-grid__row">-->
<!--<div class="mail topcoat-grid__column--12">-->
<div class="emailwrapper" style="float:left; width:250px; height:250px;">
    <div class="sender" style="width:100%"><strong>{{ordinal}} :: {{{sender}}}</strong></div>
    <div class="timestamp" style="width:45%">{{timestamp}}</div>
    <div id="fullbody-wrap">
        <iframe class="seamless" srcdoc="{{mailbody}}"></iframe>
    </div>
</div>
<!--</div>-->
<!--</div>-->