<span class="messageheaderfunctions">
    <span><button class="fit hidden">Fit All</button></span>
    <span><button class="thisweek hidden">This Week</button></span>
    <span><button class="showmessagestimeline hidden">View as Timeline</button></span>
    <span><button class="closepreview">Reply</button></span>
    <span><button class="closepreview">Close</button></span>
</span>
<div class="visualization" style="margin:5px 0 5px 0"></div>
<div style="clear:both;"></div>