<script>
var formErrors = {% if form.errors %}true{% else %}false{% endif %};

$(document).ready(function() {
    if (formErrors) {
        $('.modal').modal('show');
    }
});
</script>

<h1><button id={{ profile_user.id }} type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit Profile</button></h1>
{#        <h1>Click<a id="edit-profile" class="{{ profile_user.id }} href="{{ url_for('profile') }}" > here</a> to edit your profile</h1>#}
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">cancel&nbsp;&times;</button>
          <h3 class="modal-title">Fill in fields below</h3>
        </div>
        <div class="modal-body">
        <form id="profile-form" class="form-horizontal" action="/profile/{{ g.user.id }}" method="post" enctype="multipart/form-data" name="edit">
            {{ form.csrf_token }}
            <div class="control-group{% if form.nickname.errors %} error{% endif %}">
                <label class="control-label" for="nickname">Your nickname:</label>
                <div class="controls">
                    {{ form.nickname(class="form-control") }}
                    {% for error in form.nickname.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                    <span id="error_nickname" class="help-inline"></span><br>
                </div>
            </div>
            <div class="control-group{% if form.about_me.errors %} error{% endif %}">
                <label class="control-label" for="about_me">About yourself:</label>
                <div class="controls">
                    {{ form.about_me(rows=4, class="form-control") }}
                    {% for error in form.about_me.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                    <span id="error_about_me" class="help-inline"></span><br>
                </div>
            </div>
            <div class="control-group{% if form.profile_photo.errors %} error{% endif %}">
                <label class="control-label" for="profile_photo">Select a photo</label>
                <div class="controls">
                    {{ form.profile_photo() }}
                    {% for error in form.profile_photo.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                    <span id="error_profile_photo" class="help-inline"></span><br>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes">
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
