<script>
    var formErrors = {% if form.errors %}true{% else %}false{% endif %};

    $(document).ready(function() {
        if (formErrors) {
            $('.modal').modal('show');
        }
    });
</script>

<h1><a href="{{ url_for('members', action='update', nickname=profile_user.nickname) }}" ><button id={{ profile_user.id }} type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit Profile</button></a></h1>
{#        <h1>Click<a id="edit-profile" class="{{ profile_user.id }} href="{{ url_for('profile') }}" > here</a> to edit your profile</h1>#}
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">cancel&nbsp;&times;</button>
          <h3 class="modal-title">Fill in fields below</h3>
        </div>
        <div class="modal-body">
            {% include 'comps/forms/profile_form.html' %}
        </div>
      </div>
    </div>
  </div>
