<div class="emailwrapper">
    <div class="sender" style="width:100%"><strong>{{ordinal}} :: {{{sender}}}</strong></div>
    <div class="timestamp" style="width:45%">{{timestamp}}</div>
    <div id="fullbody-wrap">
        <iframe class="seamless" srcdoc="{{mailbody}}"></iframe>
    </div>
</div>