<span class="gridfunctions">
    <span><button id="fit">Fit All</button></span>
    <span><button id="window1">This Week</button></span>
    <span><button class="closepreview">Close</button></span>
</span>
<div id="visualization" style="margin:5px 0 5px 0"></div>
<div style="clear:both;"></div>