{% extends "base.html" %}

{% block content %}
  {% if post.body %}
      <p>{{ post.body }}</p>
  {% endif %}
        {% if post.photo and post.thumbnail %}
            <a href="{{ url_for('.static', filename=upload_folder_name + post.photo) }}" class="preview" target="_blank"><img src="{{ url_for('.static', filename=upload_folder_name + post.photo) }}" /></a>
        {% endif %}
{% if post.timestamp %}
  <p>{{ post.timestamp.strftime('%H:%M %Y-%m-%d') }}</p>
{% endif %}
  <hr>
	<h2>Comments</h2>
	{% include 'flash.html' %}
	<div class="well">
		<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" name="comment">
			{{ form.hidden_tag() }}
			<div class="control-group{% if form.comment.errors %} error{% endif %}">
				<label class="control-label" for="comment">Add your comment!:</label>
				<div class="controls">
					{{ form.comment(size=30, maxlength=140) }}
					{% for error in form.comment.errors %}
						<span class="help-inline">[{{ error }}]</span><br>
					{% endfor %}
					<input class="btn btn-primary" type="submit" value="Post!">
				</div>
			</div>
		</form>
	</div>
	{% if post.comments %}
		{% for comment in post.comments %}
		   <p>{% if comment.created_at %}<small>On {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}, </small>{% endif %}{{ comment.author.nickname }} commented: </p>
           <p>{{ comment.body }}</p>
		{% endfor %}
	{% endif %}
{% endblock %}


