 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">cancel&nbsp;&times;</button>
          <h3 class="modal-title">Please title and write your poem below</h3>
        </div>
        <div class="modal-body">
            <form id="poem-form" class="form-horizontal" action="/detail/{{ page_mark }}/" method="post" enctype="multipart/form-data" name="post">
                {{ form.csrf_token }}

                <div class="control-group{% if form.header.errors %} error{% endif %}">
                    <label class="control-label">Title</label><br>
                    {{ form.header(class="form-control") }}
                    <span id="error_header" class="help-inline"></span><br>
                </div>

                {% if g.user.type == 1 %}
                <div class="control-group{% if form.writing_type.errors %} error{% endif %}">
                    <label class="control-label">Type</label><br>
                    {{ form.writing_type(class="form-control") }}
                    <span id=error_writing_type class="help-inline"></span><br>
                </div>
                {% endif %}

                <div class="control-group{% if form.post.errors %} error{% endif %}">
                    <label class="control-label" for="post">Poem</label>
                    {{ form.post(class="form-control hide") }}
                    <div id="editable"></div>
                    <span id="error_post" class="help-inline"></span><br>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>