<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Employee</h1>
    </div>
</div>

<div class='details'>
    <img class='employee-image' src='https://s3.amazonaws.com/netbardus/cordova/www/pics/<%= pic %>'/>
    <h1><%= firstName %> <%= lastName %></h1>
    <h2><%= title %></h2>
</div>
        