<ul class="details" style="width:100%">
    {% if g.user.is_authenticated() and post.author.id == g.user.id %}
        <li class="edit-button"><a href="#">Edit</a></li>
        <li class="delete-button" id="post.id"><a href="{{ url_for('forms', page_mark=page_mark, post_id = post.id) }}">Delete</a></li>
    {% endif %}

    {% if g.user.is_authenticated() and post.author.id != g.user.id %}
        <li>
            {% if post.has_voted(g.user.id) %}
              <a data-voted="true" style="color:#eb6864;" href="{{ url_for('actions', page_mark=page_mark, action='vote', post_id=post.id) }}" class="{{ post.id }} likeme"><i class="fa fa-smile-o fa-lg"></i></a>
            {% else %}
              <a data-voted="false" style="color:#000;" href="{{ url_for('actions', page_mark=page_mark, action='vote', post_id=post.id) }}" class="{{ post.id }} likeme"><i class="fa fa-meh-o fa-lg"></i></a>
            {% endif %}
            (Like/Unlike)
        </li>
        <li>
            <a href="{{ url_for('posts', slug=post.slug) }}">Add Comment</a>
        </li>
    {% endif %}
</ul>



