<div class="postie">
    <div class="backanforth">
        {% if posts.has_prev %}
            <div class="previous"><a href="{{ url_for('posts', page_mark=page_mark) }}">Earlier posts</a></div>
        {% else %}
            <div class="hide"><a href="#">No earlier posts</a></div>
        {% endif %}
        {% if posts.has_next %}
            <div class="next"><a href="{{ url_for('posts', page_mark=page_mark) }}">Later posts</a></div>
        {% else %}
            <div class="hide"><a href="#">No later posts</a></div>
        {% endif %}
    </div>
</div>