<ul class="details" style="width:100%">
    <li class="Posted By">Posted By: <a href="{{ url_for('members', nickname=post.author.nickname) }}" rel="tag">{{ post.author.nickname }}</a></li>
    <li class="posted"><b>{{ post.timestamp.strftime('%d %b %Y') }}</b></li>
    <li class="listing-votes-number">{{ post.votes }} like{% if post.votes != 1 %}s{% endif %}</li>
    {% if post.comments.all()|length > 0 %}
        <li><a href="{{ url_for('posts', slug=post.slug) }}">
            {% with total=post.comments.all()|length %}
                {{ total }} comment{% if total != 1 %}s{% endif %}
            {% endwith %}</a>
        </li>
    {% endif %}
</ul>