<!DOCTYPE html>
<html lang="en" id={{ page_mark }} >

	<head>
		<meta charset="utf-8">

		<title>
			Netbard
		</title>

		<meta name="description" content="Pending" />
		<meta name="keywords" content="Pending" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- OpenSearch -->
{#			<link rel="search" href="/opensearchdescription.xml" type="application/opensearchdescription+xml" title="The-B-Domain" />#}

		<!-- OpenGraph -->
			<meta property="og:site_name" content="Netbard.com" />
			<meta property="og:title" content="" />
			<meta property="og:type" content="website" />
			<meta property="og:image" content="http://netbard.com/images/ogicon.png" />
			<meta property="og:locale" content="en_US" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ url_for('.static', filename='img/icons/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('.static', filename='img/icons/favicon.ico') }}" type="image/x-icon">

		<!-- Windows 8 Pinned Site -->
			<meta name="msapplication-TileImage" content="/images/pinsite.png">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="application-name" content="The-B-Domain">

		<!-- CSS -->
			<!--[if gte IE 7]><!-->
		        <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		        <link href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
			    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('.static', filename='css/layout.css') }}" />
				<link  rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' data-noprefix />
			<!--<![endif]-->

			<!--[if lte IE 7]>
				<link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" />
			<![endif]-->

			<!-- to help IE recognise the new HTML tags -->
				<!--[if lte IE 8
					<script src="{{ url_for('.static', filename='js/html5.js') }}"></script>
					<script src="{{ url_for('.static', filename='js/css3-mediaqueries.js') }}"></script>
				<![endif]-->

		<!-- JS -->
			<script src="{{ url_for('.static', filename='js/jquery.js') }}"></script>
			<script src="{{ url_for('.static', filename='js/prefixfree.min.js') }}"></script>
	        <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
	</head>

	<body>
	<div class="page">
		<h2 class="logo"></h2>

		<nav>
			<ul>
				<li class="n-home"><a href="{{ url_for('index') }}">Home</a></li>
                {% if not g.user.is_authenticated() %}
                    <li class="n-login"><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                {% if g.user.is_authenticated() %}
                    <li class="n-forum"><a href="{{ url_for('favorites') }}">Forum</a></li>
                    <li class="n-profile"><a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a></li>
                    <li class="n-logout"><a href="{{ url_for('logout') }}">Logout</a></li>
				{% endif %}
			</ul>
		</nav>

		<div id="content">
			<header>
                <div class="icon">
                    <img src="{{url_for('.static', filename=page_logo) }}" />
                </div>
                <h1>
					<strong>Netbard.com: </strong>I think that I shall never see a website lovely as a tree<!--  <a href="/">Take a look at the work we do</a> --> <!-- Well trousered Sir. -->
				</h1>
{#                    <h1><strong>Custom Built</strong></h1>#}
{#                    <h1><strong>Javascript & Python</strong></h1>#}
{#                    <h1><strong>Web Solutions</strong></h1>#}
			</header>

			<div id="main">
				{% block content %}{% endblock %}
			</div> <!-- /main -->

    		<div id="side">
				<section>
					<p><strong>netbard</strong> is a site I created for working on web design. <a href="/">Take a look at the work I do</a>.</p>
				</section>

				<section class="social">
					<h3>Social clubs</h3>
					<p><a href="http://twitter.com/Hicksdesign" title="Hicksdesign on Twitter"><img src="{{ url_for('.static', filename='img/icons/Twitter.svg') }}" alt="Hickensian on Twitter" /> Twitter</a></p>
					<p><a href="http://www.facebook.com/Hicksdesign"><img src="{{ url_for('.static', filename='img/icons/Facebook.svg') }}" alt="Hicks on Facebook" /> Facebook</a></p>
					<p><a href="http://instagram.com/hicksdesign"><img src="{{ url_for('.static', filename='img/icons/Instagram.svg') }}" alt="Hicks on Instagram" /> Instagram</a></p>
					<p><a href="http://www.flickr.com/photos/hicksdesign/" title="Hicksdesign on Flickr"><img src="{{ url_for('.static', filename='img/icons/Flickr.svg') }}" alt="Hicksdesign on Flickr" /> Flickr</a></p>
				</section>

				<section class="contact">
					<div class="vcard">
						<h3>Contact</h3>
						<div class="adr">
							<p><span class="organization-name fn n org">Netbard</span></p>
							<p><span class="street-address">12 Newman Way</span></p>
							<p><span class="locality">Arlington</span></p>
							<p><span class="region">Massachusetts</span>, <span class="country-name">USA</span></p>
							<p><span class="postal-code">02474</span></p>
						</div>
					</div>
				</section>

				<section class="hc">
					<h3>Engine Room:</h3>
					<p>The B Domain is built using Python and the Flask framework, and hosted by the lovely folks at <a href="https://www.heroku.com/">Heroku</a></p>
				</section>
			</div><!-- /side -->
		</div><!-- /content -->

		<footer>
			<p>&copy;Netbard. 2015.</p>
		</footer>
	</div><!-- /page -->
		<b id="te"></b>
	</body>
</html>