{% extends "base.html" %}

{% block header %}
    {% if page_mark == "login" %}<h1>Please login or signup</h1>{% endif %}
    {% if page_mark == "signup" %}<h1>Signup page text placeholder</h1>{% endif %}
    {% if page_mark == "home" %}<h1>Home page text placeholder</h1>{% endif %}
    {% if page_mark == "poetry" %}<h1>Poetry page text placeholder</h1>{% endif %}
    {% if page_mark == "workshop" %}<h1>Workshop page text placeholder</h1>{% endif %}
    {% if page_mark == "create" %}<h1>Create page text placeholder</h1>{% endif %}
    {% if page_mark == "detail" %}<h1>Detail page text placeholder</h1>{% endif %}
    {% if page_mark == "profiles" %}<h1>All poets on this site</h1>{% endif %}
    {% if page_mark == "portfolio" %}
{#        <h1><a href="{{ url_for('posts', page_mark=page_mark, action='create', post_id='0') }}"><button type="button" id="open" class="btn btn-info btn-lg">Create Poem</button></a></h1>#}
        <div id="myPortfolio"></div>
    {% endif %}
    {% if page_mark == "profile" %}
        {% if profile_user.id == g.user.id %}
            {% include 'comps/profile/profile_modal.html' %}
        {% elif g.user.is_following(profile_user) %}
            <h1>Click <a href="{{ url_for('members', action='unfollow', nickname=profile_user.nickname) }}"><strong>here</strong></a> to unfollow {{ profile_user.nickname }}</h1>
        {% else %}
             <h1>Click <a href="{{ url_for('members', action='follow', nickname=profile_user.nickname) }}"><strong>here</strong></a> to follow {{ profile_user.nickname }}</h1>
        {% endif %}
        {% include 'comps/profile/profile_user.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'comps/flash.html' %}
    {% if page_mark == "login" %}{% include 'comps/forms/login_form.html' %}{% endif %}
    {% if page_mark == "signup" %}{% include 'comps/forms/signup_form.html' %}{% endif %}
    {% if page_mark == "home" %}
        {% include 'members.html' %}
    {% endif %}
    {% if page_mark == "portfolio" %}
        <!-- external templates -->
        <script id="postTemplate" type="text/template">
            {% include 'comps/simplepost.html' %}
        </script>
        <script id="formTemplate" type="text/template">
            {% include 'comps/forms/poem_form.html' %}
        </script>
        <div id="poem-list">
            {% for post in posts.items %}{% include 'comps/post.html' %}{% endfor %}
        </div>
    {% endif %}

    {% if page_mark == "workshop" or page_mark == "profile" or page_mark == "poetry" %}
        {% for post in posts.items %}{% include 'comps/post.html' %}{% endfor %}
        {% include 'comps/postie.html' %}
    {% endif %}

    {% if page_mark == "detail" %}
        {% include 'comps/post.html' %}
        {% include 'comps/forms/comment_form.html' %}
    {% endif %}

    {% if page_mark == "create" %}
        {% include 'comps/forms/poem_form.html' %}
    {% endif %}

    {% if page_mark == "update" %}
        {% include 'comps/forms/profile_form.html' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if page_mark == "portfolio" %}
        <script src="{{ local_static_url }}js/app.js"></script>
    {% endif %}
    {% if page_mark == "detail" %}
        <script>
        //Update Post
        var showToolbar = function() {
            if($("body").attr("class") != "wysihtml5-supported") {
                $('.edit-me').wysihtml5({
                    toolbar: {
                        "style": true,
                        "font-styles": true,
                        "emphasis": true,
                        "lists": true,
                        "html": false,
                        "link": false,
                        "image": false,
                        "color": false,
                        fa: true
                    }
                });
            } else {
                $('.wysihtml5-toolbar').show()
            }
            $('#edit-button').html("Submit Changes");
        };


        var hideToolbar = function() {
            $('#edit-button').html("Edit Poem");
            $('.wysihtml5-toolbar').hide()
        };

        var editable = false;
        $( "#edit-button" ).click(function() {
            var editme = $('.edit-me');
            if (!editable){
                showToolbar();
                editable = true;
                editme.css({"border":"2px #2237ff dotted"});
                editme.attr('contenteditable', false);
            } else {
                var content = editme.html();
                var post_id = $('.post-id').html();
                hideToolbar();
                editable = false;
                editme.css({"border":"none"});
                editme.attr('contenteditable', false);
                $.ajax({
                    type: "PUT",
                    url:'/detail/',
                    data: {content: content, post_id: post_id}
                });
            }
        });
        </script>
    {% endif %}
{% endblock %}