<!DOCTYPE html>
<html lang="en" id="journal" >

	<head>
		<meta charset="utf-8">

		<title>
			The B Domain
		</title>

		<meta name="description" content="Pending" />
		<meta name="keywords" content="Pending" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- OpenSearch -->
{#			<link rel="search" href="/opensearchdescription.xml" type="application/opensearchdescription+xml" title="The-B-Domain" />#}

		<!-- OpenGraph -->
			<meta property="og:site_name" content="The-B-Domain" />
			<meta property="og:title" content="" />
			<meta property="og:type" content="website" />
			<meta property="og:image" content="http://the-b-domain.com/images/ogicon.png" />
			<meta property="og:locale" content="en_US" />

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('.static', filename='img/favicon.ico') }}" />
		<link rel="icon" href="{{ url_for('.static', filename='img/walk-24-215501.png') }}" sizes="228x228">

		<!-- Windows 8 Pinned Site -->
			<meta name="msapplication-TileImage" content="/images/pinsite.png">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="application-name" content="The-B-Domain">

		<!-- CSS -->
			<!--[if gte IE 7]><!-->
{#		        <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">#}
{#		        <link href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">#}
			    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('.static', filename='css/layout.css') }}" />
				<link  rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' />
			<!--<![endif]-->

			<!--[if lte IE 7]>
				<link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" />
			<![endif]-->

			<!-- to help IE recognise the new HTML tags -->
				<!--[if lte IE 8
					<script src="{{ url_for('.static', filename='js/html5.js') }}"></script>
					<script src="{{ url_for('.static', filename='js/css3-mediaqueries.js') }}"></script>
				<![endif]-->

		<!-- JS -->
			<script src="{{ url_for('.static', filename='js/jquery.js') }}"></script>
			<script src="{{ url_for('.static', filename='js/prefixfree.min.js') }}"></script>
{#	        <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>#}
	</head>

	<body>
	<div class="page">
		<h2 class="logo">Domain</h2>

{#		<nav>#}
{#			<ul>#}
{#                <li class="n-home"><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>#}
{#                {% if not g.user.is_authenticated() %}#}
{#                    <li class="n-login"><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>#}
{#                {% endif %}#}
{#                {% if g.user.is_authenticated() %}#}
{#                    <li class="n-blog" id="active"><a href="{{ url_for('favorites') }}">{{ _('Blog') }}</a></li>#}
{#                    <li class="n-profile"><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('Profile') }}</a></li>#}
{#                    <li class="n-logout"><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>#}
{#                {% endif %}#}
{#			</ul>#}
{#		</nav>#}
		<nav>
			<ul>
				<li class="n-work"><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
				<li class="n-journal"><a href="{{ url_for('favorites') }}">Journal</a></li>
				<li class="n-contact"><a href="{{ url_for('user', nickname=g.user.nickname) }}">Contact</a></li>
			</ul>
		</nav>

		<div id="content">
			<header>
                <div class="icon">
{#                    <img src="{{url_for('.static', filename='img/icons/the-b-domain_130.jpg') }}" />#}
                    <img src="{{url_for('.static', filename='img/icons/Pipe.svg') }}" />
                </div>
                <h1>
					<strong>The Hickensian</strong> is the journal of Jon Hicks, one half of Hicksdesign.<!--  <a href="/">Take a look at the work we do</a> --> <!-- Well trousered Sir. -->
				</h1>
{#                    <h1><strong>Custom Built</strong></h1>#}
{#                    <h1><strong>Javascript & Python</strong></h1>#}
{#                    <h1><strong>Web Solutions</strong></h1>#}
			</header>

			<div id="main">
				{% block content %}{% endblock %}
			</div> <!-- /main -->

    		<div id="side">
				<section>
					<p><strong>The-B-Domain</strong> is a site I created for working on web design. <a href="/">Take a look at the work I do</a>.</p>
				</section>

				<section class="social">
					<h3>Social clubs</h3>
					<p><a href="http://twitter.com/Hicksdesign" title="Hicksdesign on Twitter"><img src="{{ url_for('.static', filename='img/icons/Twitter.svg') }}" alt="Hickensian on Twitter" /> Twitter</a></p>
					<p><a href="http://www.facebook.com/Hicksdesign"><img src="{{ url_for('.static', filename='img/icons/Facebook.svg') }}" alt="Hicks on Facebook" /> Facebook</a></p>
					<p><a href="http://instagram.com/hicksdesign"><img src="{{ url_for('.static', filename='img/icons/Instagram.svg') }}" alt="Hicks on Instagram" /> Instagram</a></p>
					<p><a href="http://www.flickr.com/photos/hicksdesign/" title="Hicksdesign on Flickr"><img src="{{ url_for('.static', filename='img/icons/Flickr.svg') }}" alt="Hicksdesign on Flickr" /> Flickr</a></p>
				</section>

				<section class="contact">
					<div class="vcard">
						<h3>Contact</h3>
						<div class="adr">
							<p><span class="organization-name fn n org">Burton Web Engineering</span></p>
							<p><span class="street-address">12 Newman Way</span></p>
							<p><span class="locality">Arlington</span></p>
							<p><span class="region">Massachusetts</span>, <span class="country-name">USA</span></p>
							<p><span class="postal-code">02474</span></p>
						</div>

						<p class="tel">(781)316-2008</p>
						<p><a type="text/directory" href="http://h2vx.com/vcf/www.the-b-domain.com/contact">Download vCard</a></p>
					</div>
				</section>

				<section class="hc">
					<h3>Engine Room:</h3>
					<p>The B Domain is built using Python and the Flask framework, and hosted by the lovely folks at <a href="https://www.heroku.com/">Heroku</a></p>
				</section>
			</div><!-- /side -->
		</div><!-- /content -->

		<footer>
			<p>&copy;The-B-Domain. 2015.</p>
		</footer>
	</div><!-- /page -->
		<b id="te"></b>
	</body>
</html>