{% extends "base.html" %}

{% block header %}
    <h1>{{ assets.header_text }}</h1>
    {% if page_mark == "portfolio" %}
        {% if rendered_form %}
            <h1>Write your poem below!</h1>
        {% else %}
            {% include 'assets/posts/post_button.html' %}
        {% endif %}
    {% endif %}
    {% if page_mark == "profile" %}
        {% if rendered_form %}
            <h1>Update your profile below!</h1>
        {% else %}
            {% include 'assets/profile/profile_header.html' %}
        {% endif %}
    {% endif %}
    {{ rendered_form|safe if rendered_form != None }}
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    {{ body_form|safe }}
    {% if page_mark == "signup" %}{% include 'assets/forms/signup_form.html' %}{% endif %}
    {% if page_mark == "login" %}{% include 'assets/forms/login_form.html' %}{% endif %}
    {% if page_mark == "create" %}{% include 'assets/forms/poem_form.html' %}{% endif %}
    {% if page_mark == "update" %}{% include 'assets/forms/profile_form.html' %}{% endif %}

    {% if page_mark == "home" %}{% include 'static_text.html' %}{% endif %}
    {% if page_mark == "members" %}{% include 'members.html' %}{% endif %}

    {% if page_mark == "portfolio" or page_mark == "workshop" or page_mark == "profile" or page_mark == "poetry" %}
        {% include 'assets/posts/post_list.html' %}
    {% endif %}

    {% if page_mark == "detail" %}
        {% include 'assets/posts/post.html' %}
        {% include 'assets/forms/comment_form.html' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if page_mark == "portfolio" %}
        <script src="{{ local_static_url }}js/app.js"></script>
    {% endif %}
{% endblock %}