<!DOCTYPE html>
<html lang="en" id="search">

	<head>
		<meta charset="utf-8">

{#        Todo: Create search function#}
{#        {% if title %}#}
{#        <title>Search results for  &quot;Four&quot; |{{ title }} - burtonblog</title>#}
{#        {% else %}#}
{#        <title>Search results for  &quot;Four&quot; |burtonblog</title>#}
{#        {% endif %}#}

        {% if title %}
            <title>{{ title }} - The B Domain</title>
        {% else %}
            <title>The B Domain</title>
        {% endif %}

{#        Todo: Add site description and keywords#}
		<meta name="description" content="Pending" />
		<meta name="keywords" content="Pending" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ url_for('.static', filename='img/favicon.ico') }}" type="image/x-icon" />
		<link rel="icon" href="{{ url_for('.static', filename='img/walk-24-215501.png') }}" sizes="228x228">

		<!-- Windows 8 Pinned Site -->
		<meta name="msapplication-TileImage" content="/images/pinsite.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="application-name" content="Hicksdesign">

		<!-- CSS -->
        <link href="{{ url_for('.static', filename='css/basic.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">

		<!--[if gte IE 7]><!-->
		    <link href="{{ url_for('.static', filename='css/layout.css') }}" rel="stylesheet" type="text/css" media="all">
		    <link href="{{ url_for('.static', filename='css/stylesheet.css') }}" rel="stylesheet" type="text/css" charset="utf-8" />
            <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
		<!--<![endif]-->

{#        Todo: Add IE 7 css#}
		<!--[if IE 7]>
			<link rel="stylesheet" href="/css/ie7.css" type="text/css" media="all"  />
		<![endif]-->

		<!--[if IE 6]>
			<link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="all">
		<![endif]-->

{#        Todo: Add sub- IE 8 js#}
		<!-- to help IE recognise the new HTML tags -->
		<!--[if lte IE 8]>
			<script src="/js/html5.js"></script>
			<script src="/js/css3-mediaqueries.js"></script>
		<![endif]-->

{#        Todo: Add rss feed#}
		<!-- RSS Feeds -->
		<link rel="alternate" type="application/rss+xml" title="Burtonblog" href="http://the-b-domain.com/feeds/rss/" />

		<!-- JS -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{{ url_for('.static', filename='js/popout_image.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>

        <script>
            $(function(){
                $("a").each(function(){
                       if ($(this).attr("href") == window.location.pathname) {
                               $(this).addClass("selected");
                       }
                });
            });
        </script>
	</head>

	<body>
		<div class="page">
			<h2 class="logo">DOMAIN</h2>
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
					{% if not g.user.is_authenticated() %}
					    <li class="n-login"><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
					{% endif %}
					{% if g.user.is_authenticated() %}
                        <li class="n-work" id="active"><a href="{{ url_for('favorites') }}">{{ _('Blog') }}</a></li>
                        <li class="n-journal"><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('Profile') }}</a></li>
                        <li class="n-contact"><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
					{% endif %}
				</ul>
			</nav>
			<div id="content">

				<header>
					<div class="icon">
					    <img src="{{url_for('.static', filename='img/icons/the-b-domain_130.jpg') }}" />
					</div>
					<div class="header_text">
                        <h1><strong>Custom Built</strong></h1>
                        <h1><strong>Javascript & Python</strong></h1>
                        <h1><strong>Web Solutions</strong></h1>
					</div>
				</header>

				<div id="main">
					{% block content %}{% endblock %}
				</div> <!-- /main -->


				<div id="side">
					<section>
						<p><strong>Burtonblog</strong> is a family site I work on in my spare time. Membership by invitation only. </p>
					</section>
					<section class="contact">
						<div class="vcard">
							<h3>Contact</h3>
							<div class="adr">
								<p><span class="organization-name fn n org">Burton Web Engineering</span></p>
								<p><span class="street-address">12 Newman Way</span></p>
								<p><span class="locality">Arlington</span></p>
								<p><span class="region">Massachusetts</span>, <span class="country-name">USA</span></p>
								<p><span class="postal-code">02474</span></p>
							</div>

							<p class="tel">(781)316-2008</p>
{#							Todo: Create vCard download#}
							<p><a type="text/directory" href="http://h2vx.com/vcf/www.the-b-domain.com/contact">Download vCard</a></p>
						</div>
					</section>
					<section class="social">
						<h3>Social clubs:</h3>
						<p><a href="http://twitter.com/Hicksdesign" title="Hicksdesign on Twitter"><img src="{{ url_for('.static', filename='img/social/twitter-24x24.png') }}" alt="Hickensian on Twitter" />Twitter</a></p>
						<p><a href="http://instagram.com/hicksdesign"><img src="http://www.hicksdesign.co.uk/else/images/instagram.png" alt="Hicks on Instagram" />Instagram</a></p>
						<p><a href="http://www.flickr.com/photos/hicksdesign/" title="Hicksdesign on Flickr"><img src="{{ url_for('.static', filename='img/social/flickr-24x24.png') }}" alt="Hicksdesign on Flickr" />Flickr</a></p>
					</section>
					<section class="hc">
						<h3>Engine Room:</h3>
						<p>The B Domain is built using Python and the Flask framework, and hosted by the lovely folks at <a href="https://www.heroku.com/">Heroku</a></p>
					</section>
				</div><!-- /side -->

			</div><!-- /content -->

			<footer>
				<p>&copy;The-B-Domain. 2015.</p>
			</footer>

		</div><!-- /page -->
		<b id="te"><b></b></b><b id="be"></b><b id="le"></b><b id="re"></b>
	</body>
</html>