<div style="min-height:800px">
    <h2 style="margin-top: 2rem;">Gratuitous empty title</h2>
    <p>
    Suspendisse lacinia ligula quis nunc pretium, ut ultricies magna lacinia. Duis nec ligula sed orci luctus pellentesque. Suspendisse sed volutpat nulla. Maecenas tortor risus, lobortis malesuada laoreet et, ullamcorper vitae nisl. Ut eget arcu egestas, consequat orci nec, feugiat sem. Quisque sit amet enim venenatis, finibus neque volutpat, eleifend lorem. Duis vitae diam at magna lacinia sollicitudin. Nulla dapibus non quam sed aliquet.
    </p>
        <div style="
        background-image:url('{{ local_static_url }}img/iphone5_small.png');
        background-repeat:no-repeat;
        margin: -20px 0px 0px 10px;
        padding: 110px 0px 0px 20px;
        width:278px;height:600px;
        float:right
        ">
        <iframe src="/phonegap" width="240" height="412"></iframe>
        </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at mi nibh. Mauris ut metus vel sapien sollicitudin luctus. Duis mattis justo justo, vel aliquet ipsum dignissim sit amet. Aliquam nec semper dui. Fusce tellus diam, efficitur ut commodo ut, consequat non justo. Nullam sit amet enim non lacus venenatis blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer gravida eget urna eget efficitur. Proin eu leo ut purus pellentesque facilisis. In volutpat arcu sed nunc sagittis, sed vehicula ex elementum. Pellentesque tincidunt rutrum vestibulum. Etiam laoreet feugiat justo vitae fringilla.
    </p>
</div>