<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="{{ local_static_url }}cordova/www/topcoat/css/topcoat-mobile-dark.min.css" rel="stylesheet">
    <link href="{{ local_static_url }}cordova/www/css/styles.css" rel="stylesheet">
    <link href="{{ local_static_url }}cordova/www/css/pageslider.css" rel="stylesheet">
    <script data-main="{{ local_static_url }}cordova/www/js/app" src="{{ local_static_url }}cordova/www/js/require.js"></script>
</head>

<body>
<div id="login">
  <a>Sign In With Google!</a>
  <p></p>
</div>
</body>

</html>