<!DOCTYPE html>
<html>
  <head>
    <title>Stateful Backbone Views</title>

    <script src="{{ local_static_url }}js/_libs/jquery/jquery.min.js"></script>
    <script src="{{ local_static_url }}js/_libs/backbone/underscore.js"></script>
    <script src="{{ local_static_url }}js/_libs/backbone/backbone.js"></script>
    <script src="{{ local_static_url }}js/app2.js"></script>

    <script id="expandable" type="text/x-underscore-template">
      <div class="well">
        <a href="" class="name"><%= get('name') %></a>
        <div class="detail"></div>
      </div>
    </script>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="tab1"><a href="#tab1">Tab 1</a></li>
        <li class="tab2"><a href="#tab2">Tab 2</a></li>
      </ul>

      <div class="content"></div>
    </div>
  </body>
</html>