<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PieMail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ local_static_url }}piemail/www/css/style.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Favicon -->
		<link rel="shortcut icon" href="{{ static_url }}img/icons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ static_url }}img/icons/favicon.ico" type="image/x-icon">
    </head>
    <body id="mailapp">
        <header>
            <input type="text" id="search" placeholder="Search" class="button"/>
            <span id="logout">
                <i id="signout" class="fa fa-sign-out fa-2x"></i>
                <div id="pagelogo"></div>
            </span>
            <div id="headerwrapper">
                <ul class="grouped">
                    <li style="margin-right:5px;"><a id="compose" href="#" class="bttn red">COMPOSE</a></li>
                    <li>
                        <select title="actions" id="actions" class="bttn">
                            <option value="0"> Actions </option>
                            <optgroup label="Show">
                                <option>Only Unread</option>
                                <option>Only Read</option>
                                <option>Only Starred</option>
                            </optgroup>
                            <optgroup label="Mark">
                                <option>Mark selected as Read</option>
{#                                <option>Mark as Unread</option>#}
                                <option>Mark all as Read</option>
{#                                <option>Mark all as Unread</option>#}
                            </optgroup>
                            <optgroup label="Move">
                                <option>Primary</option>
                                <option>Social</option>
                                <option>Promotions</option>
                                <option>Updates</option>
                                <option>Archive</option>
                            </optgroup>
                            <optgroup label="Label">
                                <option value="Personal"> Personal </option>
                                <option value="Work"> Work </option>
                                <option value="High Priority"> High Priority </option>
                                <option value="Low Priority"> Low Priority </option>
                            </optgroup>
                        </select>
                    </li>
                    <li><a href="#" class="bttn icon refresh">Refresh</a></li>
                    <li><a href="#" id="gridview" class="bttn">Grid View</a></li>
                    <li><a id="trash" href="#" class="bttn icon delete">Delete</a></li>
{#                    <li><a href="#" class="bttn icon folder">New Folder</a></li>#}
                </ul>
                <div id="summary">
                    <ul class="grouped" id="sidemenu">&nbsp;</ul>
                </div>
            </div>
        </header>
        <div id="content">
            <section id="mail-list">
                {{ output|safe }}
            </section>
        </div>
        <script type=text/javascript>$SCRIPT_ROOT = {{ host_url|tojson|safe }}</script>
        <script type="text/javascript" src="{{ local_static_url }}piemail/www/libs/jquery-2.1.4.min.js"></script>
        <link href="{{ local_static_url }}piemail/www/css/vis.min.css" rel="stylesheet" >
        <script src="{{ local_static_url }}piemail/www/libs/json2.min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/underscore-min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/backbone-min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/backbone.localStorage-min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/vis.min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/handlebars-v4.0.4.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/templates.js"></script>
        <script src="{{ local_static_url }}piemail/www/inbox.js"></script>
    </body>
</html>

