<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PieMail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ local_static_url }}piemail/www/css/vis.min.css" rel="stylesheet" >
        <link href="{{ local_static_url }}piemail/www/css/style.css" rel="stylesheet" >
        <script type="text/javascript" src="{{ local_static_url }}piemail/www/libs/jquery-2.1.4.min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/json2.min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/underscore-min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/backbone-min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/backbone.localStorage-min.js"></script>
        <script src="{{ local_static_url }}piemail/www/libs/vis.min.js"></script>
        <script src="{{ local_static_url }}piemail/www/auth.js"></script>
        <script src="https://apis.google.com/js/client.js"></script>
        		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ static_url }}img/icons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ static_url }}img/icons/favicon.ico" type="image/x-icon">

    </head>
    <body>
        <div id="mailapp" class="hidden">
            <div id="summary">
                <span class="inboxfunctions hidden">
                    <ul id="sidemenu"></ul>
                    <span>
                        <select id="labeler">
                            <option value=""> Apply Label </option>
                            <option value="Personal"> Personal </option>
                            <option value="Work"> Work </option>
                            <option value="High Priority"> High Priority </option>
                            <option value="Low Priority"> Low Priority </option>
                        </select>
                    </span>
                    <span><button id="markallread">Mark all as Read</button></span>
                    <span><button id="archive">Archive</button></span>
                    <span><button id="gridview">Timeline View</button></span>
                </span>
                <span class="gridfunctions hidden">
                    <span><button id="fit">Fit All</button></span>
                    <span><button id="window1">This Week</button></span>
                    <!-- <span><button id="previousweek">Previous Week</button></span> -->
                    <!-- <span><button id="moveTo">Move to 2015-10-14</button></span> -->
                </span>
            </div>
            <div class="content" id="visualization">
                <span><input type="text" id="search" placeholder="Search" class="button"/></span>
                <div id="mails" style="float:left;">
                    <div id="mail-list"></div>
                </div>
            </div>
        </div>

    <!-- Templates -->
        <script type="text/template" id="summary-tmpl">
            <li>
               <a href="#" id="inbox">
                 <% if (inbox > 0 ) { %> <strong> Inbox (<%= inbox %>) </strong> <% } else { %> Inbox <% } %>
               </a>
            </li>
            <li>
               <a href="#" id="starred">
                 <% if (starred > 0 ) { %> <strong> Starred (<%= starred %>) </strong> <% } else { %> Starred <% } %>
               </a>
            </li>
            <li><a href="#" id="allmail">All Mail</a></li>
        </script>
        <script type="text/template" id="mail-item">
              <a href="#">
                <% if (read == false) { %> <strong>  <% } %>
                <span style="float:left;width:20px;"><input class="check" type="checkbox" <%= selected? "checked='checked'":"" %> / > </span>
                <span style="float:left;width:20px;" <% if( star == true ) { %> class="star icon bookmark" <% } else { %> class="star icon nobookmark" <% } %> > &nbsp; </span>
                <span style="float:left;width:300px;" class="sender"><%= sender %></span>
                <span style="float:right;width:250px;text-align:right;" class="timestamp"><%= timestamp %></span>
                <span style="float:left;width:100%;" class="mail-subject"><%= subject %></span>
                <span style="color:#23707E;float:left;width:100%;" class="mail-snippet"><%= snippet %></span>
                <% if (label != '') { %>
                  <span style="float:left;width:80px;" class="labels"> <%= label %></span>
                <% } %>
                <div style="clear:both;"></div>
                <% if (read == false) { %> </strong>  <% } %>
              </a>
        </script>
        <script type="text/template" id="mail-plot">
            <div class="headerwrapper">
                <div class="sender"><strong><%= ordinal %> :: <%= sender %></strong></div>
                <div class="timestamp"><%= formattedDate %></div>
            </div>
            <div class="bodywrapper">
                <div class="snippet">
                    <div class="mail-snippet"><%= snippet %></div>
                </div>
                <div id="fullbody-wrap">
                    <object id="preview_<%= id %>" type="text/html" data="{{ host_url }}emaildata/<%= id %>"></object>
                </div>
            </div>
        </script>
        <script type="text/template" id="emailreply-template">
            <button id="emailreplyclose">close</button>
            <object id="emailreply" type="text/html" data="{{ host_url }}emaildata/<%= id %>"></object>
        </script>

        <script src="{{ local_static_url }}piemail/www/inbox.js"></script>
    </body>
</html>

