{% extends "base.html" %}


{% block header %}
<div class="container">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Poem</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">My New Poem</h3>
        </div>
        <div class="modal-body">
            <form id="contact-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data" name="post">
                {{ form.hidden_tag() }}
                <div class="control-group{% if form.header.errors %} error{% endif %}">
                    <label class="control-label" for="title">Title</label><br>
                        <input type="text" class="form-control" id="header" name="header" value="">
{#                        {% for error in form.header.errors %}#}
{#                            <span class="help-inline">[{{ error }}]</span><br>#}
{#                        {% endfor %}#}
                        <span id="error_header" class="help-inline"></span><br>
                </div>
                {% if g.user.type == 1 %}
                <div class="control-group{% if form.writing_type.errors %} error{% endif %}">
                    <label class="control-label" for="type">Type</label><br>
                        {{ form.writing_type() }}
{#                        {% for error in form.writing_type.errors %}#}
{#                            <span class="help-inline">[{{ error }}]</span><br>#}
{#                        {% endfor %}#}
                        <span id=error_writing_type class="help-inline"></span><br>
                </div>
                {% endif %}


                <div class="control-group">
                  <label class="control-label" for="post">Text</label>
                    <textarea class="form-control hide" rows="10" id="post" name="post"></textarea>
                    <div id="editable"></div>
{#                    {% for error in form.post.errors %}#}
{#                        <span class="help-inline">[{{ error }}]</span><br>#}
{#                    {% endfor %}#}
                      <span id="error_post" class="help-inline"></span><br>
                </div>
                <br>
                <input class="btn btn-primary" type="submit" value="Post">
                <button class="btn btn-default" type="button">Cancel</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}

{% block content %}
{% include 'flash.html' %}
{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}

{% include 'postie.html' %}

<script>
$(function() {
    var myCustomTemplates = {
        ellipsis: function(context) {
        return "<li>" + "<a class='btn btn-default' data-wysihtml5-command='insertHTML' data-wysihtml5-command-value='&hellip;'>hellip</a>" + "</li>";
        },
        strikethrough: function(context) {
        return "<li>" + "<a class='btn btn-default' tabindex='-1' style='color:red' data-edit='strikethrough' title='Strikethrough' data-wysihtml5-command='strikeTHROUGH' data-wysihtml5-command-value='madeup'><i class='fa fa-strikethrough'></i></a>" + "</li>";
        }
    };

    if($("body").attr("class") != "wysihtml5-supported") {
        if ($('#user-type').html() == 1) {
            $('#editable').wysihtml5({
                toolbar: {
                    "style": true,
                    "font-styles": true,
                    "emphasis": true,
                    "lists": true,
                    "html": false,
                    "link": false,
                    "image": false,
                    "color": false,
                    fa: true,
                    ellipsis: false,
                    strikethrough: true
                },
                customTemplates: myCustomTemplates
            });
        } else {
           $('#editable').wysihtml5({
                toolbar: {
                    "style": true,
                    "font-styles": true,
                    "emphasis": true,
                    "lists": true,
                    "html": false,
                    "link": false,
                    "image": false,
                    "color": false,
                    fa: true,
                    ellipsis: false,
                    strikethrough: true
                },
                customTemplates: myCustomTemplates
            });
        }
    }

    $("#contact-form").submit(function(e) {
        e.preventDefault();
        $form = $(this);
        var poem_text = $('#editable').html();
        $('#post').html(poem_text);

        $.post("{{ url_for('create_poem') }}", $form.serialize(),
            function(data, textStatus) {
            var errors = $.parseJSON(data);
                $("#error_header").text("");
                $("#error_post").text("");
                $("#error_writing_type").text("");

                if(errors.iserror)
                {
                    if(errors.header!=undefined) $("#error_header").text(errors.header[0]);
                    if(errors.post!=undefined) $("#error_post").text(errors.post[0]);
                    if(errors.writing_type!=undefined) $("#error_writing_type").text(errors.writing_type[0]);
                }else if (errors.savedsuccess)
                {
                    $("#myModal").modal('hide');
                    location.reload();
                }
        });
    });


});
</script>
{% endblock %}