<article>
    <ul class="details" style="width:100%">
        {% if page_mark != "home" %}
            <li class="Posted By"><a href="{{ url_for('profile', nickname=post.author.nickname) }}" rel="tag">{{ post.author.nickname }}</a></li>
        {% endif %}
            <li class="posted"><b>{{ post.timestamp.strftime('%d %b %Y') }}</b></li>
    </ul>
    <h2><a href="{{ url_for('posts', slug=post.slug) }}">{{ post.header }}</a></h2>
    <div class="body">
        <div class="edit-me">
            {{ post.body|safe }}{% if (page_mark == "post_detail" or page_mark == "portfolio") and g.user.type == 1 and
            post.author.type == 1 and post.writing_type == "Op-ed"%}({{ post.writing_type }}){% endif %}
        </div>
        {% include 'details.html' %}
        <span class="post-id hide">{{ post.id }}</span>
    </div>
</article>