{% extends "base.html" %}

{% block header %}
    {% if profile_user.id == g.user.id %}
        {% include 'profile_modal.html' %}
    {% elif not g.user.is_following(profile_user) %}
        <h1>Click <a href="{{ url_for('follow', nickname=profile_user.nickname) }}"><strong>here</strong></a> to follow {{ profile_user.nickname }}</h1>
    {% else %}
        <h1>Click <a href="{{ url_for('unfollow', nickname=profile_user.nickname) }}"><strong>here</strong></a> to unfollow {{ profile_user.nickname }}</h1>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    {% include 'profile_user.html' %}
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}
    {% include 'postie.html' %}
{% endblock %}
