{% extends "base.html" %}

{% block header %}
    {% if user.id == g.user.id %}
        Click<span><a href="{{ url_for('edit') }}" > here </a></span>to edit your profile
    {% elif not g.user.is_following(user) %}
        <a href="{{ url_for('follow', nickname=user.nickname) }}">Click <strong>here</strong> to follow {{ user.nickname }}</a>
    {% else %}
        <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Click <strong>here</strong> to unfollow {{ user.nickname }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well well-large" style="height: auto;">
        <div class="pull-right">
            {% if user.profile_photo %}
                <img src="{{ static_url }}user_imgs/{{ user.profile_photo }}" class="img-polaroid">
            {% else %}
                <img src="{{ user.avatar(128) }}" class="img-polaroid">
            {% endif %}
        </div>
        <h1>{{ user.nickname }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}
        <p><em>Last seen: {{ momentjs(user.last_seen).calendar() }}</em></p>
        {% endif %}
        <p>Followers: {{ user.followers.count() - 1 }} | Following: {{ user.followed.count() - 1 }}
        </p>
    </div>
{% endblock %}
